<header class="p-3 bg-dark text-white mb-4">
    <script>
        function visitRegister(){
            window.location='http://localhost:5000/registerwithtoken';
        }
        function visitLogin(){
            window.location='http://localhost:5000/login';
        }
        function visitLogout(){
            window.location='http://localhost:5000/logout';
        }
        function visitMyAccount(){
            window.location='http://localhost:5000/myaccount';
        }
    </script>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-10 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <div class="text-end">
                
                <% if(isLoggedIn){ %>
                    <button type="button" class="btn btn-warning me-2" onclick="visitMyAccount();">My Account</button>
                    <button type="button" class="btn btn-outline-light me-2" onclick="visitLogout();">Log-out</button>
                    <% } else{ %> 
                        <button type="button" class="btn btn-warning me-2" onclick="visitRegister();">Free API Key</button>
                        <button type="button" class="btn btn-outline-light me-2" onclick="visitLogin();">Login</button>
                    <% } %>
                
            </div>
        </div>
    </div>
</header>