<!DOCTYPE html>
<html>
  <head>
    <title>Secret Testing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>Code Example</h1>
      <form id="my-form">
        <div class="form-group">
          <label for="inputMessage">Message:</label>
          <textarea class="form-control" id="inputMessage" name="message" rows="3" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div id="codeReturn" class="d-flex flex-row align-items-center mb-4"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const display = document.querySelector("#codeReturn");
        const form = document.getElementById('my-form');
        form.addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          userCode = formData.get('message');
          display.textContent = "";
          try {
            const res = await fetch('/api/auth/execute', {
              method: 'POST',
              body: JSON.stringify({
                message: userCode,
              }),
            headers: { "Content-Type": "application/json" },
            });
            const result = await res.json();
            if (res.status === 200) {
                return (display.textContent = `Your result (basicly zybooks): ${JSON.stringify(result.userCodeReturn)}`);
              }
            console.log('success');
            console.log("this is the result: " +JSON.stringify(result));
          } catch (err) {
            console.error(err);
          }
        });
    </script>
  </body>
</html>
