<!DOCTYPE html>
<html>
  <head>
    <title>Secret Testing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/css/prism.css" rel="stylesheet" />
  </head>
  <body>
    <div class="box">
      <pre>
        <code class="language-html">
          &lt;form id="my-form"&gt;
            &lt;div class="form-group"&gt;
              &lt;label for="inputMessage"&gt;Try it yourself:&lt;/label&gt;
              &lt;textarea class="form-control" id="inputMessage" name="message" rows="3" placeholder="Enter your message"&gt;&lt;/textarea&gt;
            &lt;/div&gt;
            &lt;button type="submit" class="btn btn-success" &gt;Run&lt;/button&gt;
          &lt;/form&gt;
          &lt;div class="d-flex p-2"&gt; &lt;div id="codeReturn" class="d-flex flex-row align-items-center mb-4"&gt;&lt;/div&gt;&lt;/div&gt;
        </code>
      </pre>
    </div>

    <div class="container mt-5">
      <h1>Code Example</h1>
      <form id="my-form">
        <div class="form-group">
          
          <label for="inputMessage">Try it yourself:</label>
          <textarea class="form-control" id="inputMessage" name="message" rows="3" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-success" >Run</button>
      </form>
      <div class="d-flex p-2"> <div id="codeReturn" class="d-flex flex-row align-items-center mb-4"></div></div>
     
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const display = document.querySelector("#codeReturn");
        const form = document.getElementById('my-form');
        form.addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          userCode = formData.get('message');
          display.textContent = "";
          try {
            const res = await fetch('/api/auth/pythonSandbox', {
              method: 'POST',
              body: JSON.stringify({
                message: userCode,
              }),
            headers: { "Content-Type": "application/json" },
            });
            const result = await res.json();
            if (res.status === 200 || res.status === 201 || res.status === 500) {
                return (display.textContent = `Your result: ${JSON.stringify(result.userCodeReturn)}`);
              }
            console.log('success');
            console.log("this is the result: " +JSON.stringify(result));
          } catch (err) {
            console.error(err);
          }
        });
    </script>
    <script src="/js/prism.js"></script>
  </body>
</html>